<a href="https://colab.research.google.com/github/favourugo/OJIAKU/blob/main/OutliersDectection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#I upload my dataset
from google.colab import files
uploaded = files.upload()

Saving NYC.csv to NYC.csv

In [ ]:

#i import important packages 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model as LM

In [ ]:

import io
df = pd.read_csv(io.BytesIO(uploaded['NYC.csv']))

df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [ ]:
df.shape

(48895, 16)

In [ ]:
df.describe()

                 id  ...  availability_365
count  4.889500e+04  ...      48895.000000
mean   1.901714e+07  ...        112.781327
std    1.098311e+07  ...        131.622289
min    2.539000e+03  ...          0.000000
25%    9.471945e+06  ...          0.000000
50%    1.967728e+07  ...         45.000000
75%    2.915218e+07  ...        227.000000
max    3.648724e+07  ...        365.000000

[8 rows x 10 columns]

In [ ]:
min_thresold, max_thresold = df.price.quantile([0.001, 0.999])
min_thresold, max_thresold

(18.0, 3000.0)

In [ ]:
df[df.price < min_thresold]

             id  ... availability_365
2860    1620248  ...              137
4647    3258197  ...                9
5542    4031809  ...                0
8169    6301965  ...                0
8270    6364324  ...              154
20992  16620607  ...              261
21281  16927533  ...                0
21700  17437106  ...                0
22261  17952277  ...                0
22287  17979764  ...                0
22313  18007671  ...                0
22835  18490141  ...              252
23161  18750597  ...               28
23256  18835820  ...                0
24100  19415314  ...                0
25433  20333471  ...              127
25634  20523843  ...                0
25753  20608117  ...                0
25778  20624541  ...               73
25794  20639628  ...              176
25795  20639792  ...              232
25796  20639914  ...              222
26259  20933849  ...                0
26841  21291569  ...              333
26866  21304320  ...              139
27972  21869057  ...               32
28019  21893604  ...               37
28242  21981703  ...                0
28841  22258432  ...              344
31066  24114389  ...                0
31407  24412104  ...                2
32810  25839759  ...                4
33225  26235873  ...              332
33448  26443106  ...              271
33505  26496645  ...               83
34446  27316669  ...              180
35005  27752128  ...              245
35386  28071998  ...              180
35601  28270998  ...                0
36997  29414633  ...                0
38609  30353302  ...                0
45178  34577268  ...              361
45646  34870577  ...                8
46049  35042058  ...              273
47160  35612982  ...              359
47218  35642891  ...                0
47979  36022650  ...              139
48486  36280646  ...              322

[48 rows x 16 columns]

In [ ]:
df[df.price > max_thresold]

             id  ... availability_365
1862     826690  ...               83
2698    1448703  ...              365
3537    2110145  ...              359
3695    2224896  ...                0
3720    2243699  ...                0
3774    2271504  ...                0
3788    2281142  ...                0
4345    2919330  ...              363
4376    2952861  ...              365
4377    2953058  ...              365
6530    4737930  ...                0
9151    7003697  ...                0
12342   9528920  ...               83
15560  12520066  ...                0
17665  13882394  ...              180
17692  13894339  ...                0
21821  17537893  ...              173
22353  18051877  ...              344
25825  20654227  ...                0
25901  20692563  ...              180
26739  21238053  ...                0
28946  22296097  ...              364
28947  22296197  ...              364
29238  22436899  ...               83
29662  22779726  ...              146
29663  22779746  ...              215
29664  22780103  ...               45
30268  23377410  ...              251
34851  27629043  ...              365
37194  29547314  ...               97
37864  29964348  ...              358
38000  30035166  ...              150
39243  30589636  ...              365
40433  31340283  ...              365
41216  32054910  ...              124
42523  33007610  ...              364
42542  33029434  ...              158
42736  33171891  ...              180
43009  33397385  ...              343
43670  33796251  ...              347
44034  33998396  ...              364
45666  34895693  ...              179
45867  34981637  ...               90
46614  35345358  ...              365
48043  36056808  ...              365

[45 rows x 16 columns]

In [ ]:
df2 = df[(df.price<max_thresold) & (df.price>min_thresold)]
df2.shape

(48792, 16)

In [ ]:
df2.describe()

                 id  ...  availability_365
count  4.879200e+04  ...      48792.000000
mean   1.901257e+07  ...        112.690134
std    1.098355e+07  ...        131.575545
min    2.539000e+03  ...          0.000000
25%    9.465711e+06  ...          0.000000
50%    1.967200e+07  ...         45.000000
75%    2.914990e+07  ...        227.000000
max    3.648724e+07  ...        365.000000

[8 rows x 10 columns]